@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

header {
    font-family: 'Saira Condensed', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}